// adaptive layout breakpoints
$screen-xs:	480px;
$screen-sm:	768px;
$screen-md:	992px;
$screen-lg:	1200px;

// font-families
$montserrat-bold: 'montserratbold', arial, helvetica, sans-serif;
$montserrat-regular: 'montserratregular', arial, helvetica, sans-serif;
$roboto-light: 'robotolight', arial, helvetica, sans-serif;

// font-sizes
$title-l: 24px;
$title-main: 22px;
$text-l: 18px;
$text-main: 14px;

// colors
$main-black: #333333;
$main-red: #ff4e50;